{% include 'wrapper.html' %}
{%load templatetags%}

	<!-- Latest news section -->
	<div class="latest-news-section">
		<div class="ln-title">Последние новости</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
								{%get_context_of_news_lenta as  lenta%}
				{%for post in lenta%}
				<a class="nt-item" href="{{post.get_absolute_url}}">{{post.title}}</a>
				{%endfor%}
			</div>
		</div>
	</div>
	<!-- Latest news section end -->
<div class="ttl">
<h2>Вход</h2>
<form method="post">
	{%csrf_token%}
	<div >Имя пользователя:</div>
	{{form.username}}
	<div >Пароль:</div>
	{{form.password}}
	<div style="margin-top:1%"><input class="btn" type="submit" value="Вход"></div>
</form>
</div>
		{% include 'footer.html' %}
